* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
  background-color: rgb(231, 226, 226);
  cursor: default;
}
.main {
  background-color: rgb(235, 231, 231);
}
/* modalMobile */
.modalMoblie {
  display: none;
}
/* Header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  z-index: 100;
}
.menuMobile {
  display: none;
}
.menuMobile2 {
  display: none;
}
.header-left__link {
  text-decoration: none;
  height: 26px;
  display: block;
}
.header-left__img {
  width: 86px;
}
.header-logo__img {
  width: 172px;
  height: 48px;
}
.header-wrapTools {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.header-cart {
  width: 60px;
  text-align: center;
}

.header-cart__img {
  width: 30px;
  height: 30px;
}
.header-search {
  display: none;
}
.header-menuWrapper1,
.header-menuWrapper2 {
  width: 60px;
  text-align: center;
  position: relative;
  display: none;
  transition: ease 1s;
  opacity: 0;
}

.header-menuWrapper1.active,
.header-menuWrapper2.active {
  opacity: 1;
  display: block;
}
.header-menuWrapper__open,
.header-menuWrapper__close {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* SubHeader */
.subHeader {
  position: fixed;
  /* display: none; */
  height: 0px;
  /* transform: translateY(-100px); */
  top: 60px;
  right: 0;
  left: 0;
  right: -36px;
  background-color: #333;
  z-index: 10;
  padding: 0;
  overflow-y: hidden;
  transition: all ease 0.5s;
}
.subHeader.active {
  padding: 30px 0;
  height: 195px;
  /* transform: translateY(0); */
  display: block;
  border-top: 1px solid #fff;
}
.subHeader-list h3 {
  color: #fff;
  margin-bottom: 22px;
}
.subHeader-item {
  padding: 2px 18px 2px 0;
  line-height: 20px;
  list-style-type: none;
}
.subHeader-item__link {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}
.subHeader-item__link:hover {
  text-decoration: underline;
}
/* Container */
.container {
  padding-top: 90px;
}
/* searchs */
.searchs {
  height: 50px;
  width: 700px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.searchs-title,
.searchs-category {
  background-color: #333;
  border-radius: 40px;
  height: 40px;
  margin: 0 10px;
  box-shadow: 0 2px 6px rgb(55 55 55 / 35%);
  cursor: pointer;
}
.searchs-title p,
.searchs-category p {
  color: #fff;
  font-weight: 900;
  line-height: 40px;
  width: 210px;
  font-size: 15px;
  padding: 0 32px;
  border-radius: 40px;
}
.searchs-category__link {
  position: absolute;
  top: 8px;
  right: 253px;
  text-decoration: none;
  color: #fff;
}
.searchs-title__link {
  position: absolute;
  top: 8px;
  right: 69%;
  text-decoration: none;
  color: #fff;
}
.searchs-title__link i,
.searchs-category__link i {
  font-size: 24px;
}
.searchs-title:hover .list-img,
.searchs-title:hover .overlay,
.searchs-category:hover .overlay {
  display: block;
}
.searchs-category:hover .list-content {
  display: block;
  cursor: default;
}
.searchs-title p:hover,
.searchs-category__link p:hover {
  background-color: #000;
}
.searchs-words {
  height: 40px;
  width: 220px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgb(55 55 55 / 35%);
}
.searchs-words input {
  outline: none;
  border: none;
  height: 40px;
  width: 200px;
  text-decoration: none;
  padding: 0 20px;
  font-size: 15px;
}

.searchs-word__link {
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: none;
  color: #333;
}
.searchs-word__link i {
  font-size: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}
.overlay.active {
  display: block;
}
/* list search title */
.searchs-title .list-img {
  background-color: #fff;
  position: fixed;
  right: 11%;
  top: 17%;
  z-index: 2;
  display: none;
}
.searchs-title .overlay:hover,
.searchs-category .overlay:hover {
  display: none;
}
.wrap {
  width: 100%;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 0 10px 15px;
}
.wrapItem {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  color: #333;
}
.wrapItem:hover {
  opacity: 0.6;
}
.itemImg {
  width: 100%;
}
.searchs-category .list-content {
  background-color: #fff;
  position: fixed;
  right: 11%;
  top: 17%;
  z-index: 2;
  display: none;
}
.list-content__list {
  padding: 15px 10px 15px 40px;
  border-right: 1px solid rgb(231, 231, 231);
}
.list-content__item {
  margin: 3px 0;
}
.list-content__link {
  text-decoration: none;
  color: #333;
  line-height: 34px;
  margin-left: 4px;
  font-size: 16px;
}
.list-content__link:hover {
  text-decoration: underline;
}
/* HomePage */
.homePage {
  padding: 30px;
}
.homePage-left__img {
  width: 100%;
}
.homePage-left__img:hover,
.homePage-right__img:hover {
  opacity: 0.6;
}
.homePage-right__img {
  width: 100%;
  padding-bottom: 22px;
}
/* Shopfi */
.shopfi {
  margin-bottom: 30px;
}
.shopfi-container {
  box-shadow: 0 2px 6px rgb(55 55 55 / 35%);
}
.template {
  padding: 0 !important;
}
.shopfi-wrap,
.listRank-wrap {
  background-color: #fff;
  position: relative;
  height: 100%;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
}
.template:hover .shopfi-wrap__overlay {
  display: flex;
}
.template:hover .shopfi-wrap__content,
.template:hover .listRank-wrap__content {
  color: #fff;
}
.shopfi-wrap__img img,
.listRank-wrap__img img {
  width: 100%;
  padding: 16px 0;
}
.shopfi-wrap__content,
.listRank-wrap__content {
  padding: 10px 16px 24px;
  position: relative;
  color: #333;
  z-index: 1;
}
.shopfi-wrap__content-name,
.listRank-wrap__content-name {
  font-size: 14px;
  margin-bottom: 10px;
}
.shopfi-wrap__content-price,
.listRank-wrap__content-price {
  font-weight: 700;
  font-size: 14px;
}
.shopfi-wrap__content-price span {
  font-size: 12px;
  font-weight: 500;
}
.shopfi-wrap__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  animation: faceIn ease 0.3s;
}
@keyframes faceIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.shopfi-wrap__overlay span {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}
/* Rank */
.rank h2 {
  background-image: url(./asset/img/icon-crown.png);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  padding: 0 0 0 40px;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 32px;
}
/* ListRank */
.listRank {
  margin-bottom: 100px;
}
.listRank-wrap__crown {
  position: absolute;
  top: 5px;
  left: 5px;
}
.listRank-wrap__crown img {
  width: 40px;
  height: 33px;
}
/* Slides */
.slides {
  box-shadow: 0 2px 6px rgb(55 55 55 / 35%);
  position: relative;
}
.slick {
  transition: all ease 0.5s;
}
.slides-wrap {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.slides-wrap__item {
  /* display: none; */
  border-right: 1px solid rgb(231, 231, 231);
  background-color: #fff;
}
.slides-wrap__item.active {
  display: block;
}
.slides-wrap__item:hover {
  filter: opacity(0.8);
  cursor: pointer;
}
.slides-wrap__item-img img {
  width: 100%;
}
.slides-wrap__item-content {
  text-align: center;
  padding-bottom: 10px;
}
.slides-wrap__item-name {
  line-height: 0;
}
.next,
.prev {
  position: absolute;
  color: #333;
  top: calc(50% - 21.2px);
  right: calc(0% - 21px);
  font-size: 42px;
  cursor: pointer;
}
.next:hover {
  opacity: 0.8;
}
.prev {
  right: calc(100% - 21px);
}
.prev:hover {
  opacity: 0.8;
}
/* footer */
.footer {
  margin: 80px 30px 40px;
  cursor: default;
}
.footer-wrap {
  border-top: 1px solid #333;
}
.footer-heading {
  padding: 40px 0 40px 0px;
}
.instruction {
  background-image: url(./asset/img/ListRank/logo-icon-cystore.png);
  padding-top: 40px;
  margin-bottom: 60px;
  background-size: 66px 66px;
  background-repeat: no-repeat;
  padding: 0 0 0 76px;
  font-size: 28px;
  line-height: 66px;
  font-weight: 700;
}
.footer-wrap__content {
  margin-bottom: 40px;
}
.footer-wrap__content-logo {
  background-image: url(./asset/img/ListRank/logo-icon-cystore.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding: 0 0 0 40px;
  font-size: 14px;
  line-height: 30px;
}
.footer-wrap__content-body {
  font-size: 13px;
  padding-top: 20px;
  font-weight: 500;
  color: #000;
}
.footer-wrap__content-body p {
  line-height: 1.6;
}
.footer-wrap__content-img img {
  margin-top: 10px;
  width: 100%;
}
.footer-wrap__content-link {
  position: relative;
  margin-top: 15px;
  text-decoration: none;
  background-color: #333;
  font-size: 20px;
  height: 54px;
  display: block;
  border-radius: 40px;
  color: #fff;
  text-align: center;
  line-height: 54px;
}
.footer-wrap__content-link:hover {
  background-color: #000;
}
.footer-wrap__content-icon {
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
}
.footer-wrap__content-twitter {
  position: absolute;
  top: calc(50% - 14px);
  left: 20px;
  font-size: 28px;
}
.information {
  background-color: #333;
  cursor: default;
}
.information-wrap {
  padding-top: 40px;
}

.information-last {
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 30px 0;
}
.copyright {
  display: none;
}
/* scroll */
.scroll {
  display: none;
  position: fixed;
  font-size: 50px;
  bottom: 45px;
  right: 60px;
  text-decoration: none;
  color: #fff;
  z-index: 10;
  animation: faceIn ease 1s;
}
.footerMobile {
  display: none;
  background-color: #333;
}
/* Moile */
.searchMobile {
  display: none;
}
